# Solidworks "lock" files
**/~$*

# Taskfile "state" directory
.task

# Private keys for age
keys

# Built files
*.iso
*.deb
*.7z

# Decrypted SOPS files created during vscode git diff preview
**/.decrypted~*.sops.yaml
