---
# By deploying this as a docker-compose file, I can version the config without needing to rebuild the
# entire VM image for application changes like image updates.
networks:
  insurgency-net:
    driver: bridge
    enable_ipv4: true
    enable_ipv6: false
services:
  tug2-insurgency-main:
    depends_on:
      - envoy
    image: harbor.${SECRET_PUBLIC_DOMAIN_NAME}/tug2/insurgency-main:0.0.93-dev.migration
    pull_policy: always
    environment:
      - PORT=27000
      - RCON_PASSWORD=${SECRET_RCON_PASSWORD}
    ports:
      - "27000:27000" # RCON
      - "27000:27000/udp" # Game traffic
    networks:
      - insurgency-net
    deploy:
      update_config:
        failure_action: rollback
      restart_policy:
        condition: any
        delay: 10s
      resources:
        limits:
          memory: 4G
          cpus: "1.0"
        reservations:
          memory: 4G
          cpus: "1.0"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
  # Additional servers should be added here
  # The k8s service config and internet gateway's firewall will need to be updated as well
  envoy:
    image: envoyproxy/envoy:contrib-v1.35.3
    volumes:
      # Mount TLS certs for Postgres connections
      - /mnt/postgres:/mnt/postgres:ro
      - /mnt/root-ca:/mnt/root-ca:ro
      # Mount the Discord webhook secret
      - /mnt/discord-webhook:/mnt/discord-webhook:ro
      # Mount the Envoy config files
      - /mnt/docker-compose/envoy-config.yaml:/etc/envoy/envoy.yaml:ro
      - /mnt/docker-compose/postgres-client-cert-sds.yaml:/etc/envoy/postgres-client-cert-sds.yaml:ro
      - /mnt/docker-compose/postgres-validation-context-sds.yaml:/etc/envoy/postgres-validation-context-sds.yaml:ro
    ports:
      - "8000:8000" # Admin interface
      - "5432:5432" # Postgres listener
      - "80:80" # Discord webhook proxy
    networks:
      - insurgency-net
    # Do not run as root (envoy doesn't like this despite being UID 0 by default in the container)
    user: "65532:65532"
    deploy:
      update_config:
        failure_action: rollback
      restart_policy:
        condition: any
        delay: 10s
      resources:
        limits:
          memory: 256M
          cpus: "0.5"
        reservations:
          memory: 256M
          cpus: "0.5"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
