---
# Proxy postgres connections, changing auth to mTLS, using Envoy's Postgres proxy filter
# Uses file-based SDS for automatic certificate reloading
admin:
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 8000

node:
  # Values are basically meaningless but must be set
  id: envoy-insurgency-postgres-proxy
  cluster: tug2

static_resources:
  clusters:
    - name: postgres_cluster
      connect_timeout: 1s
      type: STRICT_DNS
      load_assignment:
        cluster_name: postgres_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: insurgency-postgres-17-rw.tug2.svc.cluster.local
                      port_value: 5432
      health_checks:
        - timeout: 1s
          interval: 3s
          unhealthy_threshold: 2
          healthy_threshold: 1
          tcp_health_check: {}
      dns_lookup_family: V4_ONLY
      transport_socket:
        name: postgres_upstream_tls
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.starttls.v3.UpstreamStartTlsConfig
          tls_socket_config:
            common_tls_context:
              tls_params:
                tls_minimum_protocol_version: TLSv1_3
                tls_maximum_protocol_version: TLSv1_3
              # Unfortunately this doesn't currently work due to https://github.com/envoyproxy/envoy/issues/41850.
              # Leaving this here for when/if it is addressed.
              tls_certificate_sds_secret_configs:
                - name: postgres_client_cert
                  sds_config:
                    resource_api_version: V3
                    path_config_source:
                      path: /etc/envoy/postgres-client-cert-sds.yaml
                      watched_directory:
                        path: /mnt/postgres
              validation_context_sds_secret_config:
                name: postgres_serving_cert
                sds_config:
                  resource_api_version: V3
                  path_config_source:
                    path: /etc/envoy/postgres-validation-context-sds.yaml
                    watched_directory:
                      path: /mnt/root-ca
            auto_host_sni: true
            auto_sni_san_validation: true
      close_connections_on_host_health_failure: true
      ignore_health_on_host_removal: true

  listeners:
    - name: postgres_listener
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 5432
      filter_chains:
        - filters:
            - name: envoy.filters.network.postgres_proxy
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.postgres_proxy.v3alpha.PostgresProxy
                stat_prefix: egress_postgres
                enable_sql_parsing: false
                upstream_ssl: REQUIRE
            - name: envoy.tcp_proxy
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
                stat_prefix: tcp_postgres
                cluster: postgres_cluster
                # Disable the idle timeout. This relies on the application to close idle connections. Some applications
                # (such as Harbor) don't handle Envoy-terminated connections well.
                idle_timeout: 0s
