switches:
  children:
    sx6036:
      hosts:
        10.254.0.128: # Local management interface version of 10.1.0.128
          hostname: switch-01
          # TODO move this to network.yaml
          inband_mgmt_ip: 10.1.0.128
          inband_mgmt_subnet: 16
          inband_mgmt_gateway: 10.1.0.254
      vars:
        ansible_user: admin
        # This won't be used after the SSH key is uploaded - only for bootstraping.
        ansible_password: admin
    icx7250:
      hosts:
        10.254.0.129: # Local management interface version of 10.1.0.129
          hostname: switch-02
      vars:
        ansible_user: super
        # This won't be used after the SSH key is uploaded - only for bootstraping.
        ansible_password: super
        ansible_network_os: community.network.icx
        ansible_connection: ansible.netcommon.network_cli
        ansible_become_method: enable
servers:
  children:
    r730xd:
      children:
        xgs_pon:
          hosts:
            192.168.11.1:
          vars:
            ansible_user: root
        idrac:
          hosts:
            10.1.2.1:
          vars:
            ansible_user: root
        proxmox:
          hosts:
            10.2.2.1:
              hostname: proxmox-vm-host-01
          vars:
            ansible_user: root
            # This won't be used after the SSH key is uploaded - only for bootstraping.
            ansible_password: root
            ansible_python_interpreter: auto_silent
            internet_interface_name: vmbrWAN
vms:
  children:
    storage:
      hosts:
        10.2.3.1:
          hostname: ubuntu-storage-host-01
          bulk_pool:
            drive_wwns:
              - 5000039a48092cc1
              - 5000039a8859fc21
              - 5000cca260457068
              - 5000cca260c2b634
              - 5000039aa82b269d
              - 5000039ac819d76d
              - 5000039ac819d789
              - 5000039ac81a7285
            slog_euis:
              - 5cd2e4eef5180100
              - 5cd2e4a36c7d0100
      vars:
        ansible_user: ubuntu
routers:
  children:
    opnsense:
      children:
        primary:
          hosts:
            10.2.0.1:
              hostname: router-01
        secondary:
          hosts:
            10.2.0.2:
              hostname: router-02
      vars:
        ansible_user: root
        # This won't be used after the SSH key is uploaded - only for bootstraping.
        ansible_password: opnsense
power:
  children:
    mpr3141:
      hosts:
        10.1.3.128:
          hostname: pdu-01
      vars:
        ansible_user: admin
