{{ range $name, $info := .Values.users }}
---
apiVersion: policy.cert-manager.io/v1alpha1
kind: CertificateRequestPolicy
metadata:
  name: {{ $.Values.serviceName }}-postgres-auth-ca-{{ $name }}-user
spec:
  selector:
    issuerRef: {{ include "ca-issuer-ref" $ | nindent 6 }}
    namespace:
      matchNames:
        - {{ $.Release.Namespace }}
  allowed:
    commonName:
      required: true
      value: {{ $info.username }}
    usages:
      - client auth
  constraints:
    maxDuration: {{ $info.duration | default "1h" }}
{{ end }}
